<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav bg-dark" mode="side">
        <p>Auto-resizing sidenav</p>
        
    </mat-drawer>

    <div class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
        </button>
    </div>

</mat-drawer-container>

<div class="container">
    <div class="row">
        <div class="col-md-3 mx-auto my-5" *ngFor="let card of cards">
            <mat-card>
                <img mat-card-image [src]="card.img" alt="Card image cap">
                <mat-card-content>
                    <mat-card-title>
                        <h4>{{card.title}}</h4>
                    </mat-card-title>

                    <p>
                        {{card.description}}
                    </p>

                    <button mat-button>{{card.buttonText}}</button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>